.project {
  border: 1px black solid;
  margin-bottom: 10px;
}
.mainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
Button {
  width: 100%;
  margin-bottom: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 68px;
  margin-top: 20px;
}
body {
  background-color: lightgray;
}
.accounts {
  position: relative;
  display: flex;
  justify-content: right;
  text-align: right;
}
.profilePic {
  border-radius: 50%;
  width: 30px;
  margin-bottom: 15px;
  margin-top: -6px;
  margin-right: 4px;
  margin-left: 9px;
}
