.project {
  border: 1px black solid;
  margin-bottom: 10px;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
Button {
  width: 100%;
  margin-bottom: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
